*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: BunyaThin;
    src: url('../fonts/Bunya-Thin_PERSONAL.ttf') format('truetype');
  }
  @font-face {
    font-family: BunyaRegular;
    src: url('../fonts/Bunya-Regular_PERSONAL.ttf') format('truetype');
  }
  @font-face {
    font-family: BunyaLight;
    src: url('../fonts/Bunya-Light_PERSONAL.ttf') format('truetype');
  }
  @font-face {
    font-family: BunyaBold;
    src: url('../fonts/Bunya-Regular_PERSONAL.ttf') format('truetype');
  }
  @font-face {
    font-family: BunyaBlack;
    src: url('../fonts/Bunya-Black_PERSONAL.ttf') format('truetype');
  }
  @font-face {
    font-family: BunyaNumber;
    src: url('../fonts/Bunya\ W03\ Regular.ttf') format('truetype');
  }
body{
    background-color: rgb(17, 17, 17);
}
.heading{
    font-family: 'BunyaThin';
}
.quotes{
    font-family: 'BunyaLight';
}
.wallpaper{
  font-family: 'BunyaRegular';
}
.likes-count{
  font-family: 'BunyaNumber';
}
.warning{
  font-family: 'BunyaNumber';
}

/* Loader style */

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: absolute;
  top: 45%;
  left: 45%;
  color: #ccc;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #ccc;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #262626;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
