*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: BunyaThin;
    src: url('../fonts/Bunya-Thin_PERSONAL.ttf') format('truetype');
  }
  @font-face {
    font-family: BunyaRegular;
    src: url('../fonts/Bunya-Regular_PERSONAL.ttf') format('truetype');
  }
  @font-face {
    font-family: BunyaLight;
    src: url('../fonts/Bunya-Light_PERSONAL.ttf') format('truetype');
  }
  @font-face {
    font-family: BunyaBold;
    src: url('../fonts/Bunya-Regular_PERSONAL.ttf') format('truetype');
  }
  @font-face {
    font-family: BunyaBlack;
    src: url('../fonts/Bunya-Black_PERSONAL.ttf') format('truetype');
  }
  @font-face {
    font-family: BunyaNumber;
    src: url('../fonts/Bunya\ W03\ Regular.ttf') format('truetype');
  }
body{
    background-color: rgb(46, 46, 46);
}
.heading{
    font-family: 'BunyaThin';
}
.quotes{
    font-family: 'BunyaLight';
}
